/* Background color */
body { background:#eee; }

/* Container, Columns, Column_PE, Scroll container */
#container { width:842px; height:595px; display:table; margin:0 auto; background:#fff; border-radius:20px; }
.column { display:table-cell; width:25%; padding:5px; position:relative; height:100%; }
.column2 {  display:table-cell; width:50%; padding:5px; position:relative; height:100%; }
.column_item { overflow-y:scroll; border:1px solid #eee; position:relative; display:block;  }

/* Creative Mate  */
a { text-decoration:none; color:#000; }
#title { font-family:Arial; font-size:15px; margin:10px; font-weight: bold; text-align: center; background:#eee; padding:5px; border-radius:8px; }
#title img { width:30px; height:30px; vertical-align: middle;  }

/* Viewpoint user */
#person { font-family:Arial; font-size:12px; padding:10px; text-align:center; }
#person img { width:100px; height:100px; border-radius:50%; border:1px solid #eee;}

/* Assignment Category */
#category { padding:5px;}
#category hr{ margin:0px; padding:0px; }
.category_item {  font-family:Arial; font-size:12px; padding:5px; padding-left:10px; display:block;  margin:2px;  }
.category_item_selectable:hover { background:#eee; cursor: pointer; }
.category_item img {width:30px; height:30px; vertical-align: middle; }
.category_item span { padding-left:5px; vertical-align: middle; }

/* Powered by  */
#power { font-family:Arial; text-align: center; font-size: 12px; bottom:0px; left:0px;   position:absolute; width:100%; }
#power_table { display:table; width:80%; margin:0 auto;  }
.power_item  { display:table-cell; text-align: center; padding-bottom:15px;  }
.power_item img {width:30px; height:30px;  vertical-align: middle; }
#power_name { margin-bottom:20px; }

/* Vertical size of ongoing, new, submitted */
#ongoing { height:567px;  }
#new { height:245px; margin-bottom:10px;  }
#submitted { height:310px;  }

/*Title of ONGOING , NEW and SUBMITTED */
h2 { font-family:Arial; font-weight:bold; font-size:14px; padding:5px; padding-left:15px; margin:0px; }

/* Box items in ongoing, new, submitted */
#physical_edu { height:95%; }
#Physical_edu_box { height:90%; width:100%; position:absolute; bottom:5px; left:0px; box-sizing: border-box;   }
.box_item{ font-family:Arial; line-height:110%; font-size:12px; border-radius:10px; background:#eee; display:block; margin:10px; padding:15px; overflow: auto; box-shadow:2px 2px #bbb;}
.box_item button{ float:right; width:100px; background:#ddd; border:none; color:#555; cursor:pointer; padding:5px; border-radius:5px; }
.box_item span {float:right; vertical-align:bottom;}
.box_item img { width:20px; height:20px; float:right;}
.box_text {}

/* sort by */
.sort { font-family:Arial; font-size:11px; position:absolute; right:10px; top:10px; cursor:pointer;}
.sort img{ width:10px; height:10px; vertical-align: middle; }
.sort_menu { list-style:none; padding:2px; z-index:100;}
.sort:hover li { display:block; }
.sort_menu li { padding:2px; background:#eee; display:none;}
.sort_menu li:hover { background:#ccc; }

/* PE question  */
#question { font-family:Times New Roman; height:40px; margin-top:10px; border:1px solid #ddd; font-size: 12px; padding:5px; margin-bottom:5px; }
#question span { margin-top:-20px; margin-left:5px; padding:5px; background:#fff; display: block; width:95px;}

/* tab menu */
#tab { height:180px; margin-bottom:10px; font-size:12px; text-align:right; width:100%; position:relative;}
.tab_menu { list-style:none; padding:0px; display:block; overflow:auto; margin:0px;}
.tab_menu li { font-family:Arial; display:inline-block; float:left; border:1px solid #ddd; margin:0px; padding:4px; font-size:12px;
				background:#eee; cursor:pointer; border-bottom: none;}
#tab img {width:20px; height:20px; vertical-align: middle;}
.button { font-family:Arial; color:#777; background:#fff; padding:5px; border:1px solid #ddd; border-radius: 5px; display:inline-block; cursor:pointer; }
.button:hover { background:#eee;}
#tab_buttons{ border:2px solid #eee; padding:10px; }
#tab span{ float:left; padding-top:5px; color:#777; }
#tab textarea{ font-family:Times New Roman; height:130px; width:100%; box-sizing: border-box; }

/* Start a feedback */
#start { font-family:Arial; border:1px solid #ddd; padding:5px; margin-top:5px; font-size:12px; overflow:auto; background:#f4f4f4; }
#start input { font-family:Times New Roman; display:block; width:100%; margin:0 auto; box-sizing: border-box; }
#start span { margin:3px; display:block; }
#start .button { float:right; margin-top:5px;}

/* Feedback item */
#feedback { height:130px; margin-top:10px; width:100%; box-sizing:border-box;}
.feedback_item { font-family:Arial; border:1px solid #eee; margin:5px; font-size:12px; padding:5px; border-radius:5px; padding-top:0px; }
.feedback_title { display:block; width:100%; border-bottom:1px solid #eee; color:#555; padding:2px; box-sizing:border-box; font-weight:bold; padding-left:5px; }
.feedback_text { font-family:Times New Roman; padding:5px; font-weight:bold; display:block; color:#000; width:100%; box-sizing:border-box; }
.feedback_menu { text-align:right; }
.feedback_menu span { display:inline-block; padding-right:5px;   }
.feedback_reply { font-family:Arial; text-align:right; margin-top:3px; }
.feedback_reply span { display:inline-block; font-weight: bold; }
.feedback_reply input { font-family:Times New Roman; width:75%; }
#feedback .button { background:#fff; cursor:default; width:30px; text-align:center; }

/* Users */
#user { font-family:Arial; padding:5px; border-bottom:1px solid #ccc; margin-bottom:5px; }
.user_item {padding:5px; font-size:12px; }
.user_item img{width:30px; height:30px; border-radius:50%; vertical-align: middle; border:1px solid #ccc;}

/* Chatting window */
#chat_window { height:255px; overflow-y: scroll; margin-bottom:5px; box-sizing:border-box;}
.chat_item { margin:10px; display:table;  box-sizing:border-box; }
.chat_person { text-align: center; width:20px; display:table-cell;}
.chat_person img{ width:20px; height:20px; border-radius:50%; display:block; }
.chat_person span{ width:20px; font-size:10px; margin-top:-1px; display:block; }
.chat_text { display:table-cell; vertical-align: middle; padding:5px; font-size:12px; }

/* Chatting text area */
#chat_input_continaer{ font-family:Times New Roman; width:100%; font-size: 10px; height:50px; }
#chat_input { font-family:Times New Roman; display:inline-block; width:80%; vertical-align: middle; margin-top:2px;  }
#chat_input_continaer .button { display:inline-block; vertical-align:middle; font-size:9px}

/* Chatting icons */
#export { font-family:Aril; font-size:12px; bottom:0px; left:0px;  position:absolute; width:100%; display:table;}
#export_left { display:table-cell; padding:10px; }
#export_right { display:table-cell; text-align: right; padding:10px; }
#export img { width:20px; height:20px; vertical-align: middle; }

/* pop-up windows to save or submit */
.window { font-family:Arial; position:absolute; background:#fff; border:1px solid #ddd; padding:20px; border-radius:5px;
		color:#aaa; font-size: 14px; font-weight: bold; box-shadow: 2px 2px #bbb; text-align: center;
		top:40%; left:50%; transform: translate(-50%, -100%); display:none;
}
.window .button { margin:10px; margin-bottom:0px; }

/* Scrollbar style */
::-webkit-scrollbar { width: 8px;}
::-webkit-scrollbar-track { background: #ddd; }
::-webkit-scrollbar-thumb { background: #ccc; }
::-webkit-scrollbar-thumb:hover { background: #aaa; }
